<div class="divider" *ngIf="isFirstEventAfterSelected"></div>

<button (click)="setSelected()" type="button" name="event">
  <div id="event-title">
    <p>{{ event.title }}</p>
  </div>
  <div id="event-time">
    <p> {{ eventTime }} </p>
  </div>
</button>
