button {
  display: flex;
  height: 70px;
  min-height: 70px;
  width: 100%;
  border: none;
  align-items: center;
  justify-content: space-between;
  background-color: #2b343b;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;

  p {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    color: #eee;
    text-align: left;
  }

  #event-title {
    margin-left: 10px;
    font-size: 14px;
  }

  #event-time {
    margin-top: 10px;
    margin-right: 10px;
    align-self: flex-start;
    font-size: 9px;
    width: 32px;

    p {
      color: #979797;
    }

  }
}

button:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: 0;
}

.divider {
  margin-bottom: 20px;
  padding: 0;
  background-color: #aaa;
  width: 100%;
  height: 2px;
}

