// Not linked to event list router controls
$phone-width: 800px;
$phone-width-landscape: 850px;
$desktop-half-width: 1350px;

@mixin mobile-portrait {
  @media only screen and (orientation: portrait) and (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin mobile-landscape{
  @media only screen and (orientation: landscape) and (max-width: $phone-width-landscape) {
    @content;
  }
}

@mixin half-desktop {
  @media  (min-width:$phone-width-landscape) and (max-width: $desktop-half-width)  {
    @content;
  }
}

