@import url('https://fonts.googleapis.com/css?family=Roboto');

// Theme
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

// Colors
$background-grey: #404040;
$off-white: #F9F1F1;

$font-stack: 'Roboto', sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #1e272e;
}

// Calendar styling

.cal-month-view .cal-cell-top {
  min-width: 100px;
}

.cal-month-view .cal-day-badge {
  background-color: deeppink;
}


