<div class="main-div">
  <section>
    <splash-page id="splash-page" ></splash-page>
  </section>
  <section [@routeAnimations]="prepareRoute(outlet)" id="router">
    <router-outlet #outlet=outlet></router-outlet>
  </section>
  <section>
    <email-signup id="email-signup"></email-signup>
  </section>
  <canvas class="background-art"></canvas>
</div>
