.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  #background {
    flex-grow: 1;
    display: flex;
    min-height: 0;
    flex-direction: column;
    background-color: #1e272e;
    width: 80%;
    margin: 20px 0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

    h1 {
      font-size: 18pt;
      color: #eee;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 10px;
    }

    #event-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      overflow-y: auto;

      event-button {
        width: 80%;
        margin: 10px 0;
      }
    }
  }
}

// Scrollbars

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
