<div class="container">
  <div id="background">
    <h1>Events</h1>

    <div id="event-list">
      <event-button *ngFor="let event of displayedEvents"
                    [event]="event"
                    [isFirstEventAfterSelected]="isFirstEventAfterSelected(event)"
                    (changeSelectedEvent)="setSelected($event)">
      </event-button>
    </div>
  </div>
</div>
