<div class="eventSection">
  <calendar [selectedDay]="selectedDay"
            (changeDay)="setSelectedDay($event)"
            [events]="events"
            (changeMonth)="setSelectedMonth($event)">
  </calendar>
  <events-list (changeSelectedEvent)="setSelectedEvent($event)"
               [events]="events"
               [selectedDay]="selectedDay">
  </events-list>
  <event-description [event]="selectedEvent"
                     [backButton]="false">
  </event-description>
</div>
