@import '../../../mixins';

.eventSection {
  height: 100vh;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 40% 60%;
  background-color: #2B343B;
}

calendar {
}

events-list {
  grid-row-start: 2;
}

event-description {
  grid-column: 2;
  grid-row: span 2;
}

@include mobile-portrait {
  event-description {
    display: none;
  }

  calendar {
    grid-column: span 2;
  }

  events-list {
    grid-column: span 2;
    grid-row-start: 2;
  }
}

@include mobile-landscape {

  .eventSection {
    grid-template-columns: 50% 50%;
  }

  event-description {
    display: none;
  }

  calendar {
    grid-row: span 2;
    grid-column: 1;
  }

  events-list {
    grid-row: span 2;
    grid-column: 2;
  }
}

