button {
  width: 50px;
  height: 50px;
  background-color: #1e272e;
  border: none;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: 0;
}

img {
  height: 50px;
}

p {
  color: #979797;
  font-size: 10pt;
  text-align: center;
  padding: 5px 0;
}
