<div class="email-signup-page">
  <div class="email-signup-page__content">
    <h1 class="email-signup-page__content__header">Sign up for our newsletter!</h1>
    <form
      action="https://knighthacks.us13.list-manage.com/subscribe/post?u=c9b3b1b680183317ac39a8f4f&amp;id=f84788998b"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form"
      target="_blank" novalidate>
      <div class="email-signup-page__content__form">
        <mat-form-field class="email-signup-page__content__form__field">
          <input matInput type="email" value="" name="EMAIL" class="email-signup-page__email" id="mce-EMAIL" placeholder="Email" required>
        </mat-form-field>
        <button mat-raised-button color="primary" class="email-signup-page__content__form__submit">Subscribe</button>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_c9b3b1b680183317ac39a8f4f_f84788998b" tabindex="-1" value="">
      </div>
    </form>
  </div>
  <div class="email-signup-page__social-links">
    <social-links></social-links>
  </div>
</div>
