@import '../../../../mixins';

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

#calendar{
  flex-grow: 1;
  display: flex;
  margin: 20px;
  margin-bottom: 0;
  background:#1E272E;
  flex-direction: column;
  align-self: center;
  font-family: Roboto;
  font-style: normal;
  font-size: 20%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  cursor: default;

  @include mobile-landscape {
    margin-bottom: 20px;
  }
}

#header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  color:#EEEEEE;
  background:#B7517C;
}

.chevron{
  margin: 3%;
  padding: 3px 5px;
  cursor: pointer;
}

.chevron:hover{
  background-image: url('../../../../assets/icons/greyCircle.svg');
  background-repeat: no-repeat;
  background-position: center center;
  cursor:pointer;
}

.chevron:active{
  transform: scale(0.9);
}

#calendarMonth{
  flex-wrap: wrap;
  display: grid;
  height: 80%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
}

.calendarModule{
  color: #EEEEEE;
}

.calendarWeek{
  display:flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight:bold;
  color:#e66b6b;
}

.calendarDay{
  display:flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.calendarDay:hover{
  background-image: url('../../../../assets/icons/greyCircle.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;

  cursor:pointer;
}

.inactive{
  opacity: 0.5;
}

.today{
  background-image: url('../../../../assets/icons/darkPinkCircle.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;
}

.selected{
  background-image: url('../../../../assets/icons/pinkCircle.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;
}

.badge{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 30%;
  width: 30%;
  background: url('../../../../assets/icons/darkPinkCircle.svg') no-repeat center center;
  font-size: 50%;
  color: #EEE
}