<div class="container">
  <div #calendar id='calendar' (window:resize)="resizeCalendar()">
      <div id="header">
          <i class="fas fa-chevron-left chevron" (click)="changeSelectedMonth('previous')"></i>
          <span>{{ selectedDay.format('MMMM') }} {{ selectedDay.format('YYYY') }}</span>
          <i class="fas fa-chevron-right chevron" (click)="changeSelectedMonth('next')"></i>
      </div>
      <div id="calendarMonth">
          <span class="calendarModule calendarWeek">SUN</span>
          <span class="calendarModule calendarWeek">MON</span>
          <span class="calendarModule calendarWeek">TUE</span>
          <span class="calendarModule calendarWeek">WED</span>
          <span class="calendarModule calendarWeek">THU</span>
          <span class="calendarModule calendarWeek">FRI</span>
          <span class="calendarModule calendarWeek">SAT</span>

          <ng-container *ngFor="let day of daysArr">
            <div style="position: relative">
              <div class="calendarDay calendarModule"
                   (click)="changeSelectedDay(day)"
                   [ngClass]="{'inactive': differentMonth(day),
                               'selected': isSelected(day) ,
                               'today': todayCheck(day)}">
                   <div class='date'>
                      {{ day.date() }}
                  </div>
              </div>

              <div class="badge" *ngIf="isBadgeVisible(day)"><span>{{ numEventsOnDay(day) }}</span></div>
            </div>
          </ng-container>
      </div>
  </div>
</div>
