<div class="social-links">
  <div class="social-links__content">
    <div>
      <a title="GitHub" href="https://github.com/KnightHacks"><i class="fab fa-github fa-4x"></i></a>
    </div>
    <div>
      <a title="Instagram" href="https://www.instagram.com/knighthacks/"><i class="fab fa-instagram fa-4x"></i></a>
    </div>
    <div>
      <a title="Facebook" href="https://www.facebook.com/KnightHacks/"><i class="fab fa-facebook-square fa-4x"></i></a>
    </div>
    <div>
      <a title="Twitter" href="https://twitter.com/KnightHacks?lang=en"><i class="fab fa-twitter fa-4x"></i></a>
    </div>
    <div>
      <a title="Discord" href="https://discord.gg/Kv5g9vf"><i class="fab fa-discord fa-4x"></i></a>
    </div>
    <div>
      <a title="Slack" href="http://knighthacks.slack.com/"><i class="fab fa-slack fa-4x"></i></a>
    </div>
    
  </div>
</div>
