.social-links {
  
  color: white;
  text-align: center;

  /*### Smartphones (portrait and landscape)(small)### */
   @media screen and (min-width : 0px) and (max-width : 812px){
    transform: scale(0.65);
  }

  &__content {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  
  }

  div a {
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    
  }

  .fa-github:hover {
    color: grey;
  }

  .fa-facebook-square:hover {
    color: grey;
  }

  .fa-twitter:hover {
    color: grey;
  }

  .fa-slack:hover {
    color: grey;
  }

  .fa-instagram:hover{
    color: grey;
  }

  .fa-discord:hover{
    color:grey;
  }

}