@import '../../../../mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  white-space: pre-wrap;

  #background {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e272e;
    min-height: 0;
    width: 80%;
    margin: 20px 0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

    p {
      color: #eee;
      font-size: 16pt;
    }

    #backButton {
      position: absolute;
      top: 15px;
      left: 15px;
      padding: 3px;
      width: 25px;
      border: none;
      background: none;
      -webkit-transition-duration: 0.1s; /* Safari */
      transition-duration: 0.1s;

      img {
        width: 19px;
      }
    }

    #backButton:active {
      transform: scale(0.9);
    }

    #event-title {
      margin-top: 30px;
      width: 80%;
      text-align: center;
    }

    .event-details {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-height: 0;
      width: 80%;
      margin-bottom: 30px;

      @media (max-height: 500px) and (orientation: landscape) {
        flex-direction: row;
      }
    }

    .text-container {
      flex-grow: 1;
      width: 100%;
      min-height: 0;
      overflow-y: auto;
      background-color: #2B343B;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

      @media (max-height: 500px) and (orientation: landscape) {
        height: 100%;
        width: 0;
      }
    }

    .line {
      height: 0;
      width: 70%;
      max-width: 420px;
      margin-top: 10px;
      border: 0.5px solid #BBBAC7;
    }

    #event-description {
      margin: 30px 30px 0;
      font-size: 14pt;
    }

    #event-time {
      margin: 20px 0;
      color: #979797;
      font-size: 12pt;
    }

    .attachments {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      width: 100%;
      justify-content: space-around;

      @media (max-height: 500px) and (orientation: landscape){
        flex-direction: column;
        width: 80px;
        margin: 0;
      }
    }

  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
