<div class="container">
  <div id="background">

    <div *ngIf="backButton">
      <button id="backButton" type="button" name="backButton" (click)="goBack()"><img src="../../../../assets/back.png" alt="back"></button>
    </div>

    <p id="event-title">{{ event.title }}</p>

    <div class="line"></div>

    <p id="event-time">{{ getEventDate() }}</p>

    <div class="event-details">
      <div class="text-container">
        <p id="event-description" *ngIf="event.description; else elseBlock">{{ event.description }}</p>
        <ng-template #elseBlock><p id="event-description">No description.</p></ng-template>
      </div>

      <div class="attachments" *ngIf="event.attachments">
        <event-attachment *ngFor="let attachment of event.attachments" [attachment]="attachment"></event-attachment>
      </div>
    </div>
  </div>
</div>
