<div class="splash-page">
  <div class="splash-page__content">
    <div class="splash-page__content__logo-container">
      <img class="logo" src="../../../assets/knightHacksLogoGoldIV.svg" alt="TechKnights Logo" />
      <div class = "splash-page__subtitle" >
        Join us March 27th - 29th
      </div>
    </div>
    <button mat-raised-button color="primary" class="email-signup-page__content__form__submit" (click)="btnClick();">Pre-register for KnightHacks IV</button>
  </div>
</div>