@import '../../../styles';
@import '../../../mixins.scss';

.splash-page {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;

  &__subtitle {
    color: $off-white;
    font-size:2vmax;

    @include mobile-portrait{
      font-size: 6vw;
    }

    @include mobile-landscape{
      font-size:4.5vw
    }
    
    padding-top:1%;
    padding-bottom:1%;
    text-align: center;

  }

  &__content {
    padding-right: 35px;
    padding-left: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__logo-container {
      justify-self: center;
      align-self: center;
      align-content:flex-end;
      margin-bottom: 1rem;

      img {
        height: auto;
        width: 60em;
        max-width:100%;
      }
    }
  }

  .logo{

   fill:red;

  }
}
