<div class="container">
  
  <div>
    <button id="backButton" type="button" name="backButton" (click)="goBack()"><img src="../../../../assets/back.png" alt="back"></button>
  </div>

  <div class="email-signup-page">
      <div class="email-signup-page__content">
        <h1 class="email-signup-page__content__header">Pre-register for KnightHacks IV UCF's hackathon</h1>
        <form
          action="https://knighthacks.us4.list-manage.com/subscribe/post?u=81b85609439e60248ad6a4da6&amp;id=ae3b69f295"
          
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form"
          target="_blank" novalidate>
          <div class="email-signup-page__content__form">
            <mat-form-field class="email-signup-page__content__form__field">
              <input matInput type="email" value="" name="EMAIL" class="email-signup-page__email" id="mce-EMAIL" placeholder="Email" required>
            </mat-form-field>
            <button mat-raised-button color="primary" class="email-signup-page__content__form__submit">Pre-Register</button>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_c9b3b1b680183317ac39a8f4f_f84788998b" tabindex="-1" value="">
          </div>
        </form>
      </div>
    </div>
    <canvas class="background-art"></canvas>
</div>
