@import '../../../../styles.scss';
@import '../../../../mixins.scss';

#backButton {
    z-index: 2;
    display:flex;
    margin-left: 2%;
    margin-top:2%;
    
    width: 25px;
    border: none;
    background: none;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;

    img {
      width: 19px;
    }
  }

  #backButton:active {
    transform: scale(0.9);
  }

.background-art {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-color: #1a1843;
}

.email-signup-page {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__content {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:35%;
    height:35%;

    @include half-desktop{
     width:60%;
     height:60%;
    }

    &__form {

      @include mobile-portrait{
        display:inline-block;
      }

      @include mobile-landscape{
        display:inline-block;
      }

      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__field {
        width: 100%;

       // right:20%;
        @include mobile-portrait{
          right:40%;
          width: 180%;
        }

        @include mobile-landscape{
          right: 20%;
          width:140%;
        }

        align-self: flex-start;
        color: $off-white;

      }

      &__submit {
        margin-left: 10px;
        width: 200px;

        @include mobile-portrait{
          width: 100%;
          transform: scale(1.2);
          justify-content: center;
          margin-left: 0px;
        }

        @include mobile-landscape{
          transform: scale(0.9);
          width: 100%;
          margin-left:0px;
        }

        min-width: unset!important;
        align-self: center!important;
      }

    }

    &__header {

      @include mobile-portrait{
        font-size: 28px;
        width: 170%;
      }

      color: #BBBAC7;
      font-family: Roboto;
      font-style:normal;
      font-weight: normal;
      font-size: 32px;
      margin-bottom: 1rem;

    }
  }

  &__social-links {
    position: absolute;
    bottom: 20px;

    @include mobile-landscape{
      transform: scale(0.6);
    }

  }
}

.mat-button.mat-primary {
  background-color: #81368B;
  flex-wrap: nowrap;

}

.form {
  width: 100%;
}

.background-art {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a1843;
  z-index: -1;
}
